<div class="ui bottom attached tab segment" data-tab="about">
  <% if User.is_friend?(current_user, user) || same_user?(current_user, @user)%>
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="active item" data-tab="work-and-education">
          Work and Education
        </a>
        <a class="item" data-tab="places-lived">
          Placed You've Lived
        </a>
        <a class="item" data-tab="family-and-relationships">
          Family and Relationships
        </a>
        <a class="item" data-tab="hobbies-and-interests">
          Hobbies and Interests
        </a>
        <a class="item" data-tab="languages">
          Languages
        </a>
        <a class="item" data-tab="contact-info">
          Contact Info
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui attached tab segment active" data-tab="work-and-education">
          <h3>Work</h3>
          <% if profile.work %>
            <%= link_to profile.work, '#' %>
          <% end %>
          <div class="ui divider"></div>
          <h3>College</h3>
          <% if profile.college %>
            <%= link_to profile.college, '#' %>
          <% end %>
          <div class="ui divider"></div>
          <h3>High School</h3>
          <% if profile.college %>
            <%= link_to profile.high_school, '#' %>
          <% end %>
        </div>
        <div class="ui attached tab segment" data-tab="places-lived">
          <h3>Current Home</h3>
          <% if profile.current_place %>
            <%= link_to profile.current_place, '#' %>
          <% end %>
          <div class="ui divider"></div>
          <h3>Hometown</h3>
          <% if profile.home_place %>
            <%= link_to profile.home_place, '#' %>
          <% end %>
        </div>
        <div class="ui attached tab segment" data-tab="family-and-relationships">
          <h3>Relationship</h3>
          <% if profile.relationship %>
            <%= profile.relationship %>
            <% if profile.relationship == "Married" %>
             to <a>Tami</a> since December 21,2016.
             <% end %>
          <% end %>
          <div class="ui divider"></div>
          <h3>Family Members</h3>
          <a>Tuffaha</a><p>sister</p>
          <div class="ui divider"></div>
          <a>Hannod</a><p>brother</p>
          <div class="ui divider"></div>
          <a>Zuzu</a><p>Mother</p>
          <div class="ui divider"></div>
          <a>Fufu</a><p>Father</p>
        </div>
        <div class="ui attached tab segment" data-tab="hobbies-and-interests">
          <h3>Hobbies and interests</h3>
          <%= profile.interests %>
        </div>
        <div class="ui attached tab segment" data-tab="languages">
          <h3>Languages</h3>
          <% if profile.languages %>
            <%= profile.languages %>
          <% end %>
        </div>
        <div class="ui attached tab segment" data-tab="contact-info">
          <h3>Contact Info</h3>
          <% if profile.phone %>
            Phone number: <%= profile.phone %>
          <% end %>
        </div>
    </div>
  </div>
  <% else %>
    <h4> Sorry you need to be friend with <%= user.username %> to be able to see the about tab.</h>
  <% end %>
</div>
