<div class="ui navbar fixed inverted menu">
  <a href="#">
    <%= link_to root_path do %>
      <i class="large icons">
        <%= semantic_icon('big bordered teal sun icon') %>
        <i class="smile teal icon"></i>
      </i>
      <i class="inverted large-text teal">WajhBook</i>
    <% end %>
  </a>
  <div class="menu right">
    <div class="teal item">Signed in as <%= current_user.username %></div>
      <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_profile_path(@user), class: "teal item" %>
      <% end %>
      <%= link_to "Profile", user_profile_path(current_user), class: "teal item" %>
      <%= link_to "Friends", root_path, class: "teal item" %>
      <%= link_to "Log out", log_out_path, method: :delete, class: "teal item" %>
  </div>
</div>

<% flash.each do |type, message| %>
  <% if type == "success" %>
    <div class="ui teal message">
  <% else %>
    <div class="ui red message">
  <% end %>
  <%= message %>
  </div>
<% end %>

<!-- if the profile hasn't been edited -->
<% if @profile.updated_at == @profile.created_at %>
  <div class="ui container">
    <%= link_to edit_user_profile_path(@user) do %>
      <button class="ui teal button">Edit profile</button>
    <% end %>
  </div>
<% else %>

<!-- background and profile image -->
  <div class="ui img-container">

    <img class="ui background-img fluid image" src="<%= @profile.cover_pic.url(:medium) %>"></img>
      <div class="ui square shape">
            <div class="sides">
              <div class="side active">
                <div class="ui card">
                  <div class="image">
                    <img src="<%= @profile.profile_pic.url %>">
                  </div>
                  <div class="content">
                    <div class="header"><%= @user.username %></div>
                  </div>
                </div>
              </div>
              <div class="side">
                <div class="ui card">
                  <div class="content">
                    <a class="header"><%= @user.username %></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <div class="Age">Age: <% if @age %>
                      <%= @age %>
                      <% end %>
                    </div>
                    <div class="description">
                      <% if @profile.about_me %>
                        <%= @profile.about_me %>
                      <% end %>
                    </div>
                  </div>
                  <div class="content">
                    <div class="extra content">
                      <span>
                        <i class="user icon"></i>
                        22 Friends
                      </span>
                      <span class="right floated">
                        Joined in <%= @user.created_at.year %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <!-- End background and profile image -->
  <!--  Pointing menu with about, timeline, freinds and pictures-->
  <div class="ui pointing menu">
    <div class="ui container">
      <a class="active item" data-tab="timeline">
        Timeline
      </a>
      <a class="item" data-tab="about">
        About
      </a>
      <a class="item" data-tab="friends">
        Friends
      </a>
      <a class="item" data-tab="pictures">
        Pictures
      </a>
    </div>
  </div>

  <div class="ui segment">
  <!-- About segment -->
  <div class="ui bottom attached tab segment" data-tab="about">
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="active item" data-tab="work-and-education">
            Work and Education
          </a>
          <a class="item" data-tab="places-lived">
            Placed You've Lived
          </a>
          <a class="item" data-tab="family-and-relationships">
            Family and Relationships
          </a>
          <a class="item" data-tab="hobbies-and-interests">
            Hobbies and Interests
          </a>
          <a class="item" data-tab="languages">
            Languages
          </a>
          <a class="item" data-tab="contact-info">
            Contact Info
          </a>
        </div>
      </div>
      <div class="twelve wide stretched column">
          <div class="ui attached tab segment active" data-tab="work-and-education">
            <h3>Work</h3>
            <% if @profile.work %>
              <%= link_to @profile.work, '#' %>
            <% end %>
            <div class="ui divider"></div>
            <h3>College</h3>
            <% if @profile.college %>
              <%= link_to @profile.college, '#' %>
            <% end %>
            <div class="ui divider"></div>
            <h3>High School</h3>
            <% if @profile.college %>
              <%= link_to @profile.high_school, '#' %>
            <% end %>
          </div>
          <div class="ui attached tab segment" data-tab="places-lived">
            <h3>Current Home</h3>
            <% if @profile.current_place %>
              <%= link_to @profile.current_place, '#' %>
            <% end %>
            <div class="ui divider"></div>
            <h3>Hometown</h3>
            <% if @profile.home_place %>
              <%= link_to @profile.home_place, '#' %>
            <% end %>
          </div>
          <div class="ui attached tab segment" data-tab="family-and-relationships">
            <h3>Relationship</h3>
            <% if @profile.relationship %>
              <%= @profile.relationship %>
              <% if @profile.relationship == "Married" %>
               to <a>Tami</a> since December 21,2016.
               <% end %>
            <% end %>
            <div class="ui divider"></div>
            <h3>Family Members</h3>
            <a>Tuffaha</a><p>sister</p>
            <div class="ui divider"></div>
            <a>Hannod</a><p>brother</p>
            <div class="ui divider"></div>
            <a>Zuzu</a><p>Mother</p>
            <div class="ui divider"></div>
            <a>Fufu</a><p>Father</p>
          </div>
          <div class="ui attached tab segment" data-tab="hobbies-and-interests">
            <h3>Hobbies and interests</h3>
            <%= @profile.interests %>
          </div>
          <div class="ui attached tab segment" data-tab="languages">
            <h3>Languages</h3>
            <% if @profile.languages %>
              <%= @profile.languages %>
            <% end %>
          </div>
          <div class="ui attached tab segment" data-tab="contact-info">
            <h3>Contact Info</h3>
            <% if @profile.phone %>
              Phone number: <%= @profile.phone %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <!-- End about segment-->
  <!-- Timeline segment-->
  <div class="ui bottom attached tab segment active" data-tab="timeline">
      <div class="ui feed">
        <% @user.text_posts.order(created_at: :desc).each do |post|%>
        <div class="event">
          <div class="label">
            <img src="img/profile.jpg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">
                <%= @user.username %>
              </a>
            </div>
            <div class="extra content">
              <%= post.body %>
            </div>
            <div class="meta">
              <div class="date">
                <%= time_ago_in_words(post.created_at) %> ago
              </div>
              <a class="like">
                <i class="like icon"></i> <%= post.likes.count %>
              </a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <!-- End timeline segment -->
  <!-- Friends segment -->
  <div class="ui bottom attached tab segment" data-tab="friends">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img src="img/profile.jpg">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/profile.jpg">
        </div>
        <div class="content">
          <div class="header">Molly</div>
          <div class="meta">
            <span class="date">Coworker</span>
          </div>
          <div class="description">
            Molly is a personal assistant living in Paris.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2011
          </span>
          <span>
            <i class="user icon"></i>
            35 Friends
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/profile.jpg">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
          <div class="meta">
            <a>Coworker</a>
          </div>
          <div class="description">
            Elyse is a copywriter working in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- End friends segment -->
  <!-- pictures segment -->
  <div class="ui bottom attached tab segment" data-tab="pictures">
    <div class="ui medium images">
      <% if @user.pic_posts.count > 0 %>
        <%= render :partial => "pictures/index", :locals => {user: @user, pictures: @user.pic_posts.order(created_at: :desc)} %>
        <% else %>
          <p>No pictures uploaded by <%= @user.username %></p>
        <% end %>
    </div>
  </div>
  <!-- End pictures segment -->
</div>
  <!-- End pointing menu -->
<% end %>
