<%= render "shared/navbar" %>

<!-- background and profile image -->
<% if current_user == @user %>
<div class="ui container">
  <%= link_to edit_user_profile_path(@user) do %>
    <button class="ui teal button">Edit profile</button>
  <% end %>
</div>
<% end %>
  <div class="ui img-container">
    <img class="ui background-img fluid image" src="<%= @profile.cover_pic.url(:medium) %>"></img>
      <div class="ui people shape">
            <div class="sides">
              <div class="side active">
                <div class="ui special cards">
                  <div class="ui card small-card">
                    <!-- the current_user can't add himself as friend -->
                    <% if same_user?(current_user, @user) ||
                      current_user.rejected_friends.include?(@user) %>
                      <div class="image">
                        <img src="<%= @profile.profile_pic.url(:medium) %>">
                      </div>
                    <% else %>
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <!-- if users are already friends -->
                          <% if current_user.friends.include?(@user) %>
                            <%= link_to '<div class="ui inverted button">Unfriend</div>'.html_safe, delete_friend_user_path(@user.id)%>
                            </div>
                          </div>
                        </div>
                          <!-- if the current_user already requested friendship -->
                          <% elsif current_user.requested_friends.include?(@user) %>
                            <div class="ui inverted">Friendship Requested</div>
                          </div>
                        </div>
                      </div>
                            <!-- if current_user has a pending request from @user -->
                          <% elsif current_user.pending_friends.include?(@user) %>
                            <%= link_to '<div class="ui inverted button">Accept Friendship</div>'.html_safe, accept_friend_user_path(@user) %>
                            <%= link_to '<div class="ui inverted button">Reject Friendship</div>'.html_safe, reject_friend_user_path(@user) %>
                          </div>
                        </div>
                      </div>
                            <!-- if not above then users can friend each other -->
                          <% else %>
                            <%= link_to '<div class="ui inverted button">Add Friend</div>'.html_safe, request_friend_user_path(@user.id) %>
                          </div>
                        </div>
                      </div>
                          <% end %>
                        <img src="<%= @profile.profile_pic.url %>">
                      </div>
                      <% end %>
                      <div class="content">
                        <a class="header"><%= @user.username %></a>
                      </div>
                    </div>
                </div>
              </div>
            <% if User.is_friend?(current_user, @user) || same_user?(current_user, @user) %>
              <div class="side">
                <div class="ui card">
                  <div class="content">
                    <a class="header"><%= @user.username %></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <div class="Age">Age: <% if @age %>
                      <%= @age %>
                      <% end %>
                    </div>
                    <div class="description">
                      <% if @profile.about_me %>
                        <%= @profile.about_me %>
                      <% end %>
                    </div>
                  </div>
                  <div class="content">
                    <div class="extra content">
                      <span>
                        <i class="user icon"></i>
                        <%= @friends.count %> Friends
                      </span>
                      <span class="right floated">
                        Joined in <%= @user.created_at.year %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
  </div>
  <!-- End background and profile image -->
  <!--  Pointing menu with about, timeline, freinds and pictures-->
  <div class="ui pointing menu">
    <div class="ui container">
      <a class="active item" data-tab="timeline">
        Timeline
      </a>
      <a class="item" data-tab="about">
        About
      </a>
      <a class="item" data-tab="friends">
        Friends
      </a>
      <a class="item" data-tab="pictures">
        Pictures
      </a>
    </div>
  </div>

  <div class="ui segment">
  <%= render :partial => "timeline",  locals: { user: @user, postings: @postings } %>

  <%= render :partial => "about",  locals: { user: @user, profile: @profile } %>

  <%= render :partial => "friends",  locals: { user: @user, friends: @friends, pending: @pending_friends, requested: @requested_friends } %>

  <%= render :partial => "pictures",  locals: { user: @user } %>
  </div>
  <!-- End pointing menu -->
