  <div class="comment">
    <a class="avatar">
      <img src="/img/profile.jpg">
    </a>
    <div class="content">
      <a class="author" href="#">
        <%= comment.user.username %>
      </a>
      <div class="metadata">
        <div class="text">
          <%= comment.body %>
        </div>
        <div class="date"><%= time_ago_in_words(comment.created_at) %> ago</div>
        <div class="meta">
          <div class="likes" data-content="<% if comment.likes.count > 0 %>
            Liked by:
            <% comment.likers.each do |liker| %>
              <%= liker.username %>
            <% end %><%end %>">
            <%= comment.likes.count %>
            <!-- if the user hasn't likes the comment, show the like icon -->
            <% unless comment.likers.include? current_user %>
              <%= link_to '<i class="like icon"></i>'.html_safe,comment_likes_path(comment), method: :create, class: 'like' %>
            <% end %>
            <!-- if the user already like the comment, show the unlike icon -->
            <% if comment.likers.include? current_user %>
              <%= link_to '<i class="empty heart icon"></i>'.html_safe,like_path(user_liked_model(current_user, comment.id, "Comment").last), method: :delete, class: 'like' %>
            <% end %>
            <!-- show edit and delete only if I'm in the show page cuz this partial is rendered in index as well -->
            <div class="ui buttons">
              <% if current_user == comment.user %>
                <%= link_to "Edit", edit_comment_path(comment), class: "ui teal small button" %>
                <div class="or"></div>
                <%= link_to "Delete", comment_path(comment),
                                      method: :delete,
                                      data: { confirm: "Are you sure you want to delete your comment?"},
                                      class: "ui red small button" %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
