<div class="ui navbar fixed inverted menu">
  <a href="#">
    <%= link_to root_path do %>
      <i class="large icons">
        <%= semantic_icon('big bordered teal sun icon') %>
        <i class="smile teal icon"></i>
      </i>
      <i class="inverted large-text teal">WajhBook</i>
    <% end %>
  </a>
  <div class="menu right">
    <% if user_signed_in? %>
      <div class="teal item">Signed in as <%= current_user.username %></div>
      <%= link_to "Profile", user_profile_path(current_user), class: "teal item" %>
      <%= link_to "Friends", root_path, class: "teal item" %>
      <%= link_to "Log out", log_out_path, method: :delete, class: "teal item" %>
    <% else %>
      <%= link_to "Sign in", sign_in_path, class: "teal item" %>
    <% end %>
  </div>
</div>

<% flash.each do |type, message| %>
  <% if type == "success" %>
    <div class="ui teal message">
  <% else %>
    <div class="ui red message">
  <% end %>
  <%= message %>
  </div>
<% end %>
