<div class="ui navbar inverted menu">
  <a href="#">
    <%= link_to root_path do %>
      <i class="large icons">
        <%= semantic_icon('big bordered teal sun icon') %>
        <i class="smile teal icon"></i>
      </i>
      <i class="inverted large-text teal">WajhBook</i>
    <% end %>
  </a>
  <div class="menu right">
    <%= link_to "Profile", root_path, class: "teal item" %>
    <%= link_to "Friends", root_path, class: "teal item" %>
    <%= link_to "Log out", root_path, class: "teal item" %>
  </div>
</div>

<% flash.each do |type, message| %>
  <div class="alert"></div>
      <%= message %>
  </div>
<% end %>
