<% if current_page?(root_path) %>
  <% on_show_page = false %>
<% else %>
  <% on_show_page = true %>
<% end %>

<div class="event">
  <div class="label">
    <img src="<%= poster.profile.profile_pic.url %>">
  </div>
  <div class="content">
    <div class="summary">
      <a class="user">
        <%= link_to poster.username, user_profile_path(poster.id) %>
        <% unless on_show_page %>
          <%= link_to '<i class="sticky note large teal icon"></i>'.html_safe, user_picture_path(poster.id, picture) %>
        <% end %>
      </a>
    </div>
    <div class="extra content">
      <img src="<%= User.find(poster.id).pic_posts.find(picture.id).file.url %>" class="picture_show">
      <p><%= picture.details %></p>
      <div class="date">
        <%= time_ago_in_words(picture.created_at) %> ago
      </div>
      <div class="meta">
        <div class="likes" data-content="<% if picture.likes.count > 0 %>
          Liked by:
          <% picture.likers.each do |liker| %>
            <%= liker.username %>
          <% end %><%end %>">
          <%= picture.likes.count %>
          <!-- show like icon when user hasn't liked picture -->
          <% unless picture.likers.include? current_user %>
            <%= link_to '<i class="like icon"></i>'.html_safe,user_picture_likes_path(current_user,picture), method: :create, class: 'like' %>
          <% end %>
          <!-- show unlike icon if user already liked picture -->
          <% if picture.likers.include? current_user %>
            <%= link_to '<i class="empty heart icon"></i>'.html_safe,like_path(user_liked_model(current_user, picture.id, "Picture").last), method: :delete, class: 'like' %>
          <% end %>
        </div>
      </div>
      <!-- show number of comments with names in popup -->
      <div class="meta ">
        <div class="likes" data-content="<% if picture.comments.count > 0 %>
          Commented by: <% picture.commenters.each do |commenter| %>
          <%= commenter.username %>,
          <% end %><%end %>">
        <%= picture.commenters.count %>
        <%= link_to '<i class="comments icon"></i>'.html_safe, user_picture_path(poster, picture) %>
        </div>
      </div>

      <% if on_show_page %>
      <!-- show edit and delete only if I'm in the show page cuz this partial is rendered in index as well -->
        <% if picture.authors.last == current_user %>
          <%= link_to "Delete", picture_path(picture),
                                method: :delete,
                                data: { confirm: "Are you sure you want to delete your picture?"},
                                class: "ui red button" %>
          </div>
        <% end %>

        <!-- Show the comments -->
        <% if picture.comments.count > 0 %>
          <% picture.comments.each do |comment| %>
            <div class="ui comments">
              <%= render :partial => "comments/show",  locals: { comment: comment}  %>
            </div>
            <div class="ui divider"></div>
          <% end %>
        <% end %>
        <!-- if in index page -->
      <% else%>
        <% if picture.comments.count > 0 %>
          <% comment = picture.comments.first %>
          <div class="ui comments">
            <%= render :partial => "comments/show",  locals: { comment: comment}  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% unless on_show_page%>
    </div>
  <% end %>
