<%= render "shared/navbar" %>

  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui feed stacked segment">
        <!-- add post and picture buttons -->
        <% if user_signed_in? %>
          <%= link_to new_post_path() do %>
            <button class="ui teal button">Add new post</button>
          <% end %>
          <%= link_to new_user_picture_path(current_user) do %>
            <button class="ui teal button">Add new picture</button>
          <% end %>
        <% end %>
        <!-- End post and picture post buttons -->
        <!-- display posts and pictures with comments and likes -->
        <% @postings.each do |posting| %>
          <% if posting.postable_type == "Post" %>
            <%= render :partial => "posts/post",  locals: { post: Post.find(posting.postable_id), poster: User.find(posting.user_id)}  %>
            <div class="ui divider"></div>
          <% else %>
            <% poster = User.find(posting.user_id) %>
            <%= render :partial => "pictures/picture",  locals: { poster: poster, picture: poster.pic_posts.find(posting.postable_id)}  %>
            <div class="ui divider"></div>
          <% end %>
        <% end %>
        <!-- End display posts and picture -->
      </div>
    </div>
    <!-- display friends suggestions -->
    <%= render partial: "posts/suggest_friends", locals: {suggested_friends: @suggested_friends, pending: @pending_friends} %>
  </div>
</div>
