<h1>Create a new post</h>

<%= form_for @post do |f| %>
  <ul>
      <% @post.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
  </ul>
  <%= f.label "Post" %>
  <%= f.text_area :body %>

  <%= f.label "author" %>
  <%= f.text_field :author_name,
                   :placeholder => "Your post goes here" %>

  <%= f.submit "Create post" %>
<% end %>
