<%= render "shared/navbar" %>

<div class="ui middle aligned center aligned grid new_edit_form">
  <div class="column">
    <% if @post.errors.count > 0 %>
      <ul class="ui error message">
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <h2 class="ui teal header">
      <div class="content">
        <!-- check if the post exist meaning we want to edit. if not we want to create new -->
        Create new post
      </div>
    </h2>

    <!-- <form class="ui large form"> -->
    <%= form_for @post, :html => { class: "ui medium form" } do |f| %>
      <div class="ui feed tall stacked segment">
        <div class="field">
              <%= f.text_area :body,
                              :placeholder => "Your post goes here" %>
        </div>
        <%= f.submit "Create post", class: "ui fluid large teal submit button" %>
      </div>
    <% end %>
  </div>
</div>
